// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.left-panel{
    height: 80vh;
    .list-group{

        .list-group-item{
            background-color: #82878c;
            color: #ffffff;
        }
        .list-group-item:hover, .list-group-item:visited{
            background-color: #878c91;
            color: #ffffff;
            font-weight: bold;
        }
    }
}
